.panel-green {
    border-color: #5cb85c;
}
.panel-green .panel-heading {
    border-color: #5cb85c;
    color: #fff;
    background-color: #5cb85c;
}
.panel-green a {
    color: #5cb85c;
}
.panel-yellow {
    border-color: #f0ad4e;
}
.panel-yellow .panel-heading {
    border-color: #f0ad4e;
    color: #fff;
    background-color: #f0ad4e;
}
.panel-yellow a {
    color: #f0ad4e;
}
.panel-red {
    border-color: #d9534f;
}
.panel-red .panel-heading {
    border-color: #d9534f;
    color: #fff;
    background-color: #d9534f;
}
.panel-red a {
    color: #d9534f;
}
.ui-sortable tr {
    cursor:pointer;
}
.ui-sortable tr:active {
    background:rgba(244,251,17,0.45);
}
.hidden-all {
    display: none !important;
}
/* highlight active nav-tabs item */
ul.nav-tabs {
    background-color: rgba(255, 255, 255, 0.0);
    border-bottom: .333rem solid transparent;
}
ul.nav-tabs li.active {
    border-bottom: .333rem solid $deep-orange;
    color: grey;
}
ul.nav-tabs li a,
ul.nav-tabs li a:focus
{
    color: grey !important;
}
ul.nav-tabs li a:hover {
    color: black !important;
}